<script id="homepage-template" type="text/template">
    <div id="homepage">
    <header
      class="bg-primary text-white d-flex justify-content-between align-items-center py-3 px-4"
    >
      <h1 class="mt-3 ml-5">{{Homepage}}</h1>
      <div>
        <button
          id="logoutBtn"
          class="btn btn-primary btn-block text-uppercase"
        >
          {{Logout}}
        </button>
      </div>
    </header>

    <div id="home" class="container">
      <h2 class="text-center mt-5">{{greet}}</h2>
      <div id="container" class="mt-4 p-3 text-justify">
        <p>
          {{p1}}
        </p>

        <p>
          {{p2}}
        </p>

        <p>
          {{p3}}
        </p>

        <p>
          {{p4}}
        </p>

        <p>
          {{p5}}
        </p>
      </div>
    </div>
    </div>
  </div>
</script>
